<%= render "shared/link_back", path: questions_path, text: "<-- #{t(".back")}" %>
<%= render @question %>

<div class="d-flex justify-content-between align-items-center">
  <%= link_to t(".edit"), edit_question_path(@question), class: 'btn btn-outline-primary' %>
  <%= button_to t(".destroy"), @question, method: :delete, class: 'btn btn-outline-danger'%>
</div>
